@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/*******Barra de navegación*********/
body{
    background-color:  #FBF6E2;
}

/***** INICIA NAV *****/
.img-logo{
    height: 100px;
}
.navbar-nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.section-nav{
    background-image: url(../assets/mel-t01.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-position-x: center;
    height: 300px;
    top: 0px;
}
/***** FINALIZA NAV *****/
.fondomorado{
    margin-top: 106px;
    padding-top: 15%;
    position: relative;
    z-index: 2;
}
.team{
    margin: auto;
}
/*******Animaciones Bruja*********/
.bruja img{
    position: absolute;
    margin-left: 90px;
    margin-top: -40px;
}

.bruja {
    animation-duration: 2s;
    animation-name: bruja;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes bruja {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
}
/*******Descripción del proyecto*********/
.proy-descrip{
    margin: 12px;
    padding: 50px;
}

.DescriptionAbout p{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: justify;
    font-size: 15px;
}
.DescriptionTitle h1{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #4E1353;
    font-size: 36px;
}
.DescriptionTitle h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #4E1353;
    font-size: 32px;
}
/*Animaciones amurcielago*/
.murcielago img{
    position: absolute;
    margin-left: 90px;
    margin-top: 300px;
}

.murcielago {
    animation-duration: 2s;
    animation-name: bruja;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes murcielago {
    from {
      margin-bottom:100%;
      width:300%
    }
  
    to {
     margin-bottom:0%;
     width:100%;
   }
}

.vl{
    height: 5px;   
    background-color: #FBF6E2;
}

/*******Sobre equipo GrrenCake*********/
.member{
    display: flex;
    justify-content: center;
    padding: 25px;
}
/****Imagen equipo****/
.img-team{
    padding: 24px;
    display: grid;
    justify-content: center;
}
.img-team img{
    width: 230px;
    border-radius: 50%;
    box-shadow: 0 0 10px #4E1353;
}
/****Descripción equipo****/
.desc-team{
    display: block;
    justify-content: center;
    padding: 24px;
}
.desc-team h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    
}
.desc-team p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    text-align: justify;
}
/****Contacto equipo****/
.contact-team{
    width: 5%;
    
    
}
.linkedin img, .gmail img{
    height: 35px;
    width: 35px;
}
/****Footer****/
.gato{
    position: absolute;
    margin-left: 90%;
    margin-top: -8%;
    max-width: 9%;
    z-index: 100;
  }
  .footer-bg{
      background-color: #4E1353;
  }
  a{
    text-decoration: none;
  }
  .link-gc:link {
    color: #FBF6E2;
  }
  .link-gc:hover {
      border-bottom: 1px solid;
      background: #4E1353;
      border-radius: 2px;
  }
  .link-gc:visited {
    color: #FBF6E2;
  }
  .texto-inferior-link{
      color:#FBF6E2 ;
      font-family: 'Poppins';
      font-size: 11px;
      align-items: center;
  }
  .texto-inferior{
      color:#FBF6E2 ;
      font-family: 'Poppins';
      font-size: 10px;
      align-items: center;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .section-nav{
        background-image: none;
        background-color: #F8BD49;
        position: absolute;
        width: 100%;
        z-index: 3;
        background-position-x: center;
        height: 106px;
        top: 0px;
    }
    .section-nav .navbar-expand-lg{
        background-color: #F8BD49;
    }
    .section-header{
      font-family: 'Poppins', sans-serif;
      padding-bottom: 25px;
      padding-top: 25px;
      text-align: center;
    }
    .bruja img{
        position: absolute;
        margin-left: 0px;
        margin-top: 50px;
    }
    
    .bruja {
        animation-duration: 2s;
        animation-name: bruja;
        animation-iteration-count: 3;
        animation-direction: alternate;
    }
    
    @keyframes bruja {
        from {
          margin-top:25%;
          width:300%
        }
      
        to {
         margin-top:0%;
         width:100%;
       }
    }

    .DescriptionTitle{
        position: absolute;
        right: -2px;
    }
    .proy-descrip{
        text-align: center;
        padding: 0px;
    }
    .DescriptionAbout{
        padding-top: 150px;
        border: 50px;
    }
    .DescriptionAbout p{
        padding: 17px;
    }

  }