body{
    background-color:  #FBF6E2;
}

/***** INICIA NAV *****/
.img-logo{
    height: 80px;
}
.navbar-nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.section-nav{
    background-image: url(../assets/mel-t01.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-position-x: center;
    height: 300px;
    top: 0px;
}
/***** FINALIZA NAV *****/

/***** INICIA PRODUCTOS *****/
.productos{
    margin-top: 106px;
    padding: 80px 0px;
    position: relative;
    z-index: 2;
}
.contenedor-filtros{
    padding: 20PX;
    background-color: #F8BD49;
    border-radius: 25px;
}
.contenedor-filtros h5{
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin: 10px 0px;
}
.contenedor-filtros ul{
    list-style-type: none;
}
.contenedor-filtros ul li{
    margin-bottom: 10px;
}
.contenedor-filtros ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    color: #000;
    font-size: 15px;

}
.contenedor-fantasma{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-fantasma img{
    align-items: center;
}
.padding-filtro{
    padding-right: 30px;
}
.contenedor-pastel{
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.contenedor-pastel img{
    border-radius: 5%;
}
.contenedor-pastel h6{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}
.productos-card-container a{
    text-decoration: none;

}
.color-naranja{
    background-color: #E79629;   
}
.color-rojo{
    background-color: #4E1353;
}
.color-morado{
    background-color: #4E1353;
}
.productos-card-container{
    padding-top: 83px;
}
.contenedor-select{
    margin-bottom: 20px;
}
.contenedor-select h6{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
}
.contenedor-filtros p{
    font-family: 'Poppins', sans-serif;
}
.contenedor-filtros h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 20px 0px;
}
.contenedor-filtros .btn-pal {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #C23320;
    border-color: #C23320;
    border-radius: 20px;
    align-items: center;
    font-weight: 600;
}
#padding-content-product{
    padding-top: 83px
}
.contenedor-filtros h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 20px 0px;
    text-align: left;
    font-size: 18px;
}
.texto-inferior-link {
    color: #FBF6E2;
    font-family: 'Poppins';
    font-size: 11px;
    align-items: center;
}
.texto-inferior {
    color: #FBF6E2;
    font-family: 'Poppins';
    font-size: 10px;
    align-items: center;
}
h5.h5-fantasma{
    text-align: center;
}
#contenedor-filtros{
    background-color: #4E1353;
}
#contenedor-filtros h5{
    color: #fff;
}

#contenedor-filtros ul li a{
    color: #fff;
}

/***** FINALIZA PRODUCTOS *****/
/***** INICIA FOOTER *****/
.footer-bg{
    background-color: #4E1353;
}
.link-gc:link {
    color: #FBF6E2;
}


/***** FINALIZA FOOTER *****/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .section-nav{
        background-image: none;
        background-color: #F8BD49;
        position: absolute;
        width: 100%;
        z-index: 3;
        background-position-x: center;
        height: 106px;
        top: 0px;
    }
    .section-nav .navbar-expand-lg{
        background-color: #F8BD49;
    }

  }
/***** INICIA MEDIA QUERYS *****/
